
*.db
*.ipch
*.ipch
*.ipch
*.ipch
*.ipch
*.ipch
*.ipch
*.ipch
*.ipch
Midterm 1/.vs/Midterm 1/v16/.suo
*.opendb
*.tlog
*.obj
*.idb
*.pdb
*.exe
*.ilk
*.log
*.obj
*.obj
*.tlog
*.tlog
*.lastbuildstate
*.obj
*.exe
*.exe
*.pdb
